<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta charset="utf-8">
        <meta content="width=device-width" name="viewport">
        <meta charset="utf-8">
        <title>Service Status</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="container">
            <header class="masthead">
                <div id="header">
                    System Status
                </div>
            </header>
            <main>
            <div id="service-status">
                <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
                <p>Waiting for database connection... <i class='em em-boat'></i></p>
            </div>

            <div>
                <h2>Add new service</h2>
                <form id="service-form">
                    <input autocomplete="off" id="service-add"
                           type="text">
                    <a href="#" id="service-submit">Add New Service</a>
                </form>
            </div>
            </main>
            <footer>
                <div id="podname">
                    Pod: {{ podname }}
                </div>
            </footer>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
